		<div class="rightCol buRightCol"><!-- Right Column (optional region) -->
			<h2>不见得是啥a?</h2>
			<p>The right column is by default 300px wide.  It can be extended via all the same classes that are available to right column.</p>
			<ul>
				<li>.gMail = 160px</li>
				<li>.gCal = 180px</li>
				<li>.yahoo = 240px</li>
				<li>.myYahoo = 300px</li>
			</ul>
		</div>
		<div class="main buMain"><!-- Main Content -->
			<div class="UISelectBox">
				<a href="#" class="UISelectValue">选项六</a>
				<ul class="UISelectBoxOptions" style="display: none;">
					<li class="UISelectBoxItem"><a rel="1" href="#">选项一</a></li>
					<li class="UISelectBoxItem"><a rel="2" href="#">选项二</a></li>
					<li class="UISelectBoxItem"><a rel="3" href="#">选项二</a></li>
				</ul>
			</div>
			<script type="text/javascript">
			// hover
			$(".UISelectBox").hover(function(){
					$(this).addClass("UISelectBoxHover");
				},function(){
					$(this).removeClass("UISelectBoxHover");
			});
			//click
			$(".UISelectBox").click(function(){
				$(this).blur();	
				$(".UISelectBox .UISelectBoxOptions").toggle();
				return false;
			});



			</script>
			<div id="googleMap"></div>
		
		</div>