<ul class="outter">
	<li class="first">&copy; 2009 Twitter</li>
	<li><a href="/about#about">About Us</a></li>
	<li><a href="/about#contact">Contact</a></li>
	<li><a href="http://blog.twitter.com">Blog</a></li>
	<li><a href="http://status.twitter.com">Status</a></li>
	<li><a href="/downloads">Apps</a></li>
	<li><a href="http://apiwiki.twitter.com/">API</a></li>
	<li><a href="http://search.twitter.com">Search</a></li>
	<li><a href="http://help.twitter.com">Help</a></li>
	<li><a href="/jobs">Jobs</a></li>
	<li><a href="/terms">Terms</a></li>
	<li><a href="/privacy">Privacy</a></li>
</ul>