<ul class="outter">
<% if !current_user %>
  <li><%= link_to "注册", new_account_path %></li>
  <li><%= link_to "登录", new_user_session_path %></li>
<% else %>
  <li><%= link_to current_user.login, account_path %></li>
  <li><%=link_to "退出", user_session_path, :method => :delete%></li>
<% end %>
</ul>
