<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>不见得(index)</title>
    <!-- oocss related stylesheets -->
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/oocss/libraries.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/oocss/template.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/oocss/grids.css" />
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/oocss/content.css" />
    <!-- project defined stylesheets -->
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/additional.css" />

    <script type="text/javascript" src="javascripts/jquery-1.3.2.js"></script>
    <script type="text/javascript" src="javascripts/jquery-ui-1.7.2.js"></script>
    <script type="text/javascript" src="javascripts/application.js"></script>

    <script src="http://ditu.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAA2hWMbB1Gr1rLlQTiNhiV2RSxreqFRf-osvgyWLn6GMIlFlhMNRTkiREqABPrLzUPvFGyCd4mJ0FS4A" type="text/javascript"></script>
    <script type="text/javascript">
    //<![CDATA[
    var map ;
    function load() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("googleMap"));
        map.setCenter(new GLatLng(39.917, 116.397), 4);
      }
    }
    //]]>
    </script>
  </head>
<body onload="load()" onunload="GUnload()">
<!-- befor new body -->
<div class="page">
	<div class="head buHead">
		<a class="logo" href="/">Bujiande</a>
		<%=render(:partial => "tiles/head_links") %>
	</div>
	<div class="body buBackColor"><!-- Body -->
		 <%= yield %> 
	</div>
	<div class="foot buFoot">
		<%=render(:partial => "tiles/foot_links") %>
	</div>
</div>
<!-- end new body -->
 </body>
</html>
